<!DOCTYPE html>
<html>
<head>
 <title>Speech To Text Test App</title>
</head>
<body>

      <h1>&nbsp;&nbsp; Convert your Speech directly to text with this SOTI Web App</h1><br>

      <h3> &nbsp;&nbsp; This simple web app uses Google Cloud STT (for now) for speech-to-text conversion <br>
          &nbsp;&nbsp; input speech in real time, spoken by user to the microphone of the Laptop/System </h3><br>
          <h3>&nbsp;&nbsp; Click on the Button to Start the Speech To Text Services.<br>
            &nbsp;&nbsp;  Once you have spoken, your speech will be transcribed and displayed as text Below
          </h3><br><br>

      <button onClick="window.location.reload();">&ensp;&ensp;&ensp; <h3>Speak after Clicking this button &ensp;&ensp;&ensp; </h3></button><br><br><br><br>

      <p><h3> &ensp;     This is what the Model thinks you said     <h3><br><br><br></p>


      <h3>   &ensp; >>   {{ foobar }} </h3>

</body>
</html>